.container-1 {
    width:75%;
    border: 1px solid black;
    margin:0 auto;
    text-align:center;
}
  .container-2{
    width:75%;
    border: 1px solid black;
    margin:0 auto;
    text-align:center;
}
.container-3 {
    width:75%;
    border: 1px solid black;
    margin:0 auto;
    text-align:center;
}
 

 .flex-box-container-1, .flex-box-container-2 {
        display:flex;
        padding: 10px;
        border: 1px solid black;
        align-items:center;
        flex-wrap: wrap;
        flex-direction:row;
        justify-content: space-around;
    }

    .flex-box-container-1 div {
        display: flex;
        padding: 10px;
        border: 1px solid black;
        align-items: center;
    }

    .flex-box-container-2 img{
        margin: 10px;
        box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.9);
    }

    .flex-box-rps img:hover{
        box-shadow: 0px 10px 50px rgba(37, 54, 233, 1)
    }

    /* style flex-box-rps divs*/
    

